<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132300477451-bnne1ve1e5jdjvj5hpdtvboq5pl6u2u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132300477451-bnne1ve1e5jdjvj5hpdtvboq5pl6u2u3</string>
	<key>API_KEY</key>
	<string>AIzaSyBgr8tK8geyHLQ0VKonVDzqj9c8IM4GjOc</string>
	<key>GCM_SENDER_ID</key>
	<string>132300477451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smallLoansApp</string>
	<key>PROJECT_ID</key>
	<string>relief-cash-app</string>
	<key>STORAGE_BUCKET</key>
	<string>relief-cash-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132300477451:ios:41cb020ee56d4296afa30e</string>
</dict>
</plist>